ion-icon{
    width: 30px;
    height: 30px;
    float: right;

}
ion-title{
    display: inline-block;
}

ion-tab-button{
    background-color: transparent;
    width: auto;
    height: 100%;
    float: right;
}