ion-icon{
    width: 30px;
    height: 30px;
    float: right;

}
ion-title{
    display: inline-block;
}

ion-tab-button{
    background-color: transparent;
    width: auto;
    height: 100%;
    float: right;
}

ion-button{
    display: block;
    margin: auto;
    width: auto;
    height: auto;
    margin: 10px;
    margin-bottom: 0;
}

ion-radio {
    --border-radius: 4px;
    --inner-border-radius: 4px;

    --color: #ddd;
    --color-checked: #15baec;
    margin: 5px
  }

  ion-radio.ios::part(container) {
    width: 20px;
    height: 20px;

    border: 2px solid #ddd;
    border-radius: 4px;
  }

  .radio-checked.ios::part(container) {
    border-color: #15c4ec;
  }

  #wrongInput{
    color: red;
    text-align: center;
    font-size: 10px;
  }

  #result{
    overflow: hidden;
    max-height: 0;
    animation: show 0.5s ease-out forwards;
}

  @keyframes show {
    from {max-height: 0;}
    to {max-height: 500px;}
    }