<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>
    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon aria-hidden="true" name="settings-outline"></ion-icon>
    </ion-tab-button>
    
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Porównaj produkty</ion-card-title>
    </ion-card-header>
    
    <ion-grid>
      <ion-row>
        <ion-col>Wybierz pierwszy produkt
          <ion-item>
            <ion-select [(ngModel)]="firstProduct" label="" label-placement="floating">
              <ion-select-option *ngFor="let product of products">{{product}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Wybierz drugi produkt
          <ion-item>
            <ion-select [(ngModel)]="secondProduct" label="" label-placement="floating">
              <ion-select-option *ngFor="let product of products">{{product}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <p id="wrongInput" *ngIf="wrongInput">Któraś z wartości nie została podana</p>
      <ion-button color="medium">Dodaj</ion-button>
      <ion-row>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Dodaj produkt</ion-card-title>
    </ion-card-header>
    
    <ion-grid>
      <ion-row>
        <ion-col>Podaj nazwę produktu
          <ion-item>
            <ion-input label="" type="text" placeholder="nazwa"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Podaj ilość kalorii
          <ion-item>
            <ion-input label="" type="number" placeholder="kcal/100g"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <p id="wrongInput" *ngIf="wrongInput">Któraś z wartości nie została podana</p>
      <ion-button color="medium">Dodaj</ion-button>
      <ion-row>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-content>
