ion-icon{
    width: 30px;
    height: 30px;
    float: right;

}
ion-title{
    display: inline-block;
}

ion-tab-button{
    background-color: transparent;
    width: auto;
    height: 100%;
    float: right;
}

ion-fab-button{
    position: fixed;
    width: 50px;
    height: 50px;
    right: 10px;
    bottom: 10px;
    animation-name: showButton;
    animation-duration: 0.2s;
}

ion-button{
    display: block;
    margin: auto;
    width: auto;
    height: auto;
    margin: 10px;
    margin-bottom: 0;
}

#weight{
    width: 10%;
}

@keyframes show {
    from{width: 0;
        height: 0;}
    to{width: 50px;
        height: 50px;}
}

span{
    position: fixed;
    right: 60px;
}

.bin{
    position: fixed;
    right: 15px;
    transform: translateY(-6px);
}

ion-input{
    display: block;
    margin: auto
}

h1{
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

#result{
    overflow: hidden;
    max-height: 0;
    animation: show 0.5s ease-out forwards;
}

#wrongInput{
    color: red;
    text-align: center;
    font-size: 10px;
  }

@keyframes show {
    from {max-height: 0;}
    to {max-height: 500px;}
}

@keyframes showButton {
    from {width: 0; height: 0;}
    to {width: 50px; height: 50px;}
}