ion-icon{
    width: 30px;
    height: 30px;
    float: right;

}
ion-title{
    display: inline-block;
}

ion-tab-button{
    background-color: transparent;
    width: auto;
    height: 100%;
    float: right;
}

.item-native{
    margin: 0;
}

ion-button{
    display: block;
    margin: auto;
    width: auto;
    height: auto;
    margin: 10px;
    margin-bottom: 0;
}

p:first-child{
    display: inline-block;
}
p:last-child{
    float: right;
}

#result{
    height: 150px;
    animation-name: show;
    animation-duration: 0.5s;
    overflow: hidden;
}

@keyframes show{
    from{height: 0px;}
    to{height: 150px;}
}

// ion-col:last-child{
//     text-align: center;
// }