ion-icon{
    width: 30px;
    height: 30px;
    float: right;

}
ion-title{
    display: inline-block;
}

ion-tab-button{
    background-color: transparent;
    width: auto;
    height: 100%;
    float: right;
}

.item-native{
    margin: 0;
}

ion-button{
    display: block;
    margin: auto;
    width: auto;
    height: auto;
    margin: 10px;
    margin-bottom: 0;
}

p:first-child{
    display: inline-block;
}
p:last-child{
    float: right;
}

#result{
    overflow: hidden;
    max-height: 0;
    animation: show 0.5s ease-out forwards;
}

@keyframes show {
    from {max-height: 0;}
    to {max-height: 500px;}
    }

// ion-col:last-child{
//     text-align: center;
// }

#wrongInput{
    color: red;
    text-align: center;
    font-size: 10px;
}